UWP/obj/x86/Debug/
opentheknock/obj/Debug/opentheknock.TodoList.xaml.g.cs
iOS/obj/iPhone/Debug/
Droid/bin/Debug/
UWP/bin/x86/Debug/AppX/Assets/Wide310x150Logo.scale-200.png
UWP/bin/x86/Debug/
opentheknock/bin/Debug/opentheknock.dll.mdb
opentheknock/obj/Debug/opentheknock.csproj.FileListAbsolute.txt
opentheknock/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
opentheknock/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
opentheknock/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Droid/obj/Debug/resourcecache/DB810FC75BA8D2E8C4A68EC22C3497CB/res/layout-sw600dp-v13/design_layout_snackbar.xml
Droid/obj/Debug/
